<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>v-for</title>
	<script src="js/vue-2.5.16/vue-dev.js" type="text/javascript"></script>
</head>
<body>
	<h1>v-for指令用法</h1>
	<hr>
	<div id="app">
		<ul>
			<li v-for="item in sortItems">
				{{item}}
			</li>
		</ul>
		<ul>
			<li v-for="(student, index) in sortStudents">
				{{index + 1}}: 姓名：{{student.name}} - 年龄：{{student.age}}
			</li>
		</ul>
	</div>
	<script type="text/javascript">
		var app = new Vue({
			el: "#app",
			data: {
				items: [20, 23, 4, 65, 32, 19, 54, 56, 41],
				students: [
					{name:'sam', age:'22'},
					{name:'lily', age:'17'},
					{name:'tom', age:'20'},
				]
			},
			computed: {
				sortItems: function () {
					return this.items.sort(sortNumber);
				},
				sortStudents: function () {
					return sortByKey(this.students, 'age')
				}
			}
		});

		function sortNumber (a, b) {
			return a - b;
		};

		function sortByKey (array, key) {
			return array.sort(function(a,b){
				var x=a[key];
				var y=b[key];
				return ((x<y)?-1:((x>y)?1:0));
			});
		};
	</script>
	
</body>
</html>